/* General elements
 */
* { -webkit-text-size-adjust: none; }
a { text-decoration: none; }
body {
  color: rgba(200,200,200,1);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
/* Background canvas
 */
#bg {
  background: #eeeeee;
  background: -moz-radial-gradient(center, ellipse cover,  #eeeeee 0%, #969696 80%);
  background: -webkit-gradient(radial, center center, 0px, center center, 60%, color-stop(0%,#eeeeee), color-stop(100%,#969696));
  background: -webkit-radial-gradient(center, ellipse cover,  #eeeeee 0%,#969696 60%);
  background: -o-radial-gradient(center, ellipse cover,  #eeeeee 0%,#969696 60%);
  background: -ms-radial-gradient(center, ellipse cover,  #eeeeee 0%,#969696 60%);
  background: radial-gradient(ellipse at center,  #eeeeee 0%,#969696 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#969696',GradientType=1 );
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}
/* Statusbar
 */
#info {
  bottom: 10px;
	color: rgba(49,49,49,1);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  right: 15px;
}
#version {
  bottom: 10px;
	color: rgba(49,49,49,1);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  left: 15px;
  position: absolute;
}
#version a { color: rgba(49,49,49,1); }
#version a:hover { color: rgba(98,98,98,1); text-decoration: underline; }
/* Logo
 */
#logo {
  position: absolute;
  text-align: center;
  top: 34%;
  width: 100%;
}
#logo img {
  margin: 0 auto;
  width: 600px;
}
/* Circles (Toolbar)
 */
#toolbar {
  margin: 0 auto;
  position: relative;
/*  width: 1200px; */
  width: 960px;
  top: -120px;
}
.circle {
  border-radius: 999px;
  font-family: "Electrolize", sans-serif;
  font-size: 20px;
  height: 100px;
  line-height: 100px;
  margin: 50px 20px;
  overflow: hidden;
  padding: 30px;
  position: absolute;
  top: 0;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  -webkit-transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
  -moz-transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
  -ms-transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
  -o-transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
  transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
}
.circle:hover {
  border: 3px solid rgba(41,41,41,0.9);
  height:200px;
  line-height: 30px;
  top: 50px;
  width:200px;
  z-index: 100;
}
.circle:hover:before {
  height: 50px;
  left: 50%;
  margin-left: -25px;
  opacity: 0.35;
  position:absolute;
  top: 20px;
  width: 50px;
  z-index:-1;
}
.circle a {
  color: rgba(216,216,216,1);
  font-size: 12pt;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
.circle a:hover { text-shadow: 0 0 6px rgba(228,228,228,0.95); }
.circle img {
  display: block;
  margin: auto;
  padding: 50px 0;
}
.circle span {
  color: rgba(236,236,236,1);
  font-weight: bold;
  text-shadow: 0 0 6px rgba(19,19,19,0.8);
}
.cyan {
  color: rgba(0,170,170,1) !important;
  font-size: 14pt;
  font-weight: normal;
  line-height: 14pt;
}
.afterhours { left: 0px; }
.afterhours:hover { left: -50px; }
.afterhours.circle:hover:before { content: url('/img/afterhours.png'); }
.stuff { left: 250px; }
.stuff:hover { left: 200px; }
.stuff.circle:hover:before { content: url('/img/stuff.png'); }
.projects { left: 500px; }
.projects:hover { left: 450px; }
.projects.circle:hover:before { content: url('/img/projects.png'); }
.server { left: 750px; }
.server:hover { left: 700px; }
.server.circle:hover:before { content: url('/img/server.png'); }
.status { left: 1000px; }
.status:hover { left: 950px; }
.status.circle:hover:before { content: url('/img/status.png'); }
/* vim: ts=2 sw=2
 */
