/* General elements
 */
* { -webkit-text-size-adjust: none; }
a { text-decoration: none; }
body {
  color: rgba(200,200,200,1);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
/* Background canvas
 */
#bg {
  background: #696969;
  background: -moz-radial-gradient(center, ellipse cover,  #696969 0%, #434343 80%);
  background: -webkit-gradient(radial, center center, 0px, center center, 60%, color-stop(0%,#696969), color-stop(100%,#434343));
  background: -webkit-radial-gradient(center, ellipse cover,  #696969 0%,#434343 60%);
  background: -o-radial-gradient(center, ellipse cover,  #696969 0%,#434343 60%);
  background: -ms-radial-gradient(center, ellipse cover,  #696969 0%,#434343 60%);
  background: radial-gradient(ellipse at center,  #696969 0%,#434343 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#434343',GradientType=1 );
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}
/* Statusbar
 */
#server1,#server2 {
  bottom: 10px;
  cursor: default;
  font-family: 'Electrolize', sans-serif;
  font-size: 10pt;
  position: absolute;
}
#server1 { left: 42px;cursor:pointer; }
#server2 { right: 15px;text-align: right;width: 200px; }
#server2 img { position: relative;top: 2px; }
#plugins {
  background-color: rgba(49,49,49,1);
  border: 3px solid rgba(41,41,41,0.9);
  bottom: 35px;
  display: none;
  font-family: 'Electrolize', sans-serif;
  font-size: 10pt;
  left: 70px;
  padding: 5px 8px;
  position: absolute;
  box-shadow: 0px 0px 15px rgba(19,19,19,0.8);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
#map {
  bottom: 3px;
  position: absolute;
  left: 15px;
}
#map a {
  color: rgba(216,216,216,1);
  font-size: 12pt;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
#map a:hover { text-shadow: 0 0 6px rgba(228,228,228,0.95); }
/* Logo
 */
#logo {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}
#logo img {
  margin: 0 auto;
  width: 600px;
}
/* Circles (Toolbar)
 */
#toolbar {
  margin: 0 auto;
  position: relative;
  width: 700px;
  top: -120px;
}
.circle {
  border-radius: 999px;
  cursor: default;
  font-family: "Electrolize", sans-serif;
  font-size: 20px;
  height: 100px;
  line-height: 100px;
  margin: 50px 20px;
  overflow: hidden;
  padding: 30px;
  position: absolute;
  top: 0;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  -webkit-transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
  -moz-transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
  -ms-transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
  -o-transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
  transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
}
.circle:hover {
  border: 3px solid rgba(41,41,41,0.9);
  height:200px;
  line-height: 30px;
  top: 50px;
  width:200px;
  z-index: 100;
}
.circle:hover:before {
  height: 50px;
  left: 50%;
  margin-left: -25px;
  opacity: 0.35;
  position:absolute;
  top: 20px;
  width: 50px;
  z-index:-1;
}
.circle a {
  color: rgba(216,216,216,1);
  font-size: 12pt;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
.circle a:hover { text-shadow: 0 0 6px rgba(228,228,228,0.95); }
.circle img {
  display: block;
  margin: auto;
  padding: 50px 0;
}
.circle span {
  color: rgba(236,236,236,1);
  font-weight: bold;
  text-shadow: 0 0 6px rgba(19,19,19,0.8);
}
.cyan {
  color: rgba(0,170,170,1) !important;
  font-size: 14pt;
  font-weight: normal;
  line-height: 14pt;
}
.minecraft { left: 0px; }
.minecraft:hover { left: -50px; }
.minecraft.circle:hover:before { content: url('/img/steve.png'); }
.games { left: 250px; }
.games:hover { left: 200px; }
.games.circle:hover:before { content: url('/img/games.png'); }
.status { left: 500px; }
.status:hover { left: 450px; }
.status.circle:hover:before { content: url('/img/status.png'); }
/* Maintenance
 */
#maintenance {
  background-color: rgba(9,12,25,1);
  border: 8px solid rgba(34,41,70,0.8);
  bottom: 44%;
  color: rgba(140,139,137,1);
  font-family: 'Electrolize', sans-serif;
  display: none;
  height: 12%;
  margin: auto;
  overflow-y: hidden;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  top: 44%;
  width: 20%;
  box-shadow: 0px 0px 15px rgba(19,19,19,0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#maintenance h1 {
  color: rgba(236,236,236,1);
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 6px rgba(19,19,19,0.8);
}
/* Rules
 */
#rules {
  background-color: rgba(9,12,25,1);
  border: 8px solid rgba(34,41,70,0.8);
  bottom: 20%;
  color: rgba(140,139,137,1);
  display: none;
  font-family: 'Electrolize', sans-serif;
  height: 60%;
  margin: auto;
  overflow-y: hidden;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  top: 20%;
  width: 30%;
  box-shadow: 0px 0px 15px rgba(19,19,19,0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#rules #rules_scroll { position: relative;height: 100%;width: 100%;overflow-y: hidden;top: 0;  }
#rules a { color: rgba(180,180,180,1); }
#rules a:hover { text-decoration: underline; }
#rules .close {
  color: #696969;
  cursor: pointer;
  font-family: 'Electrolize', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 10px;
}
#mods article,#rules article {
  font-size: 12pt;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
}
#rules p { font-size: 12pt; }
#rules p span { color: rgba(255,170,62,1);font-weight: bold; }
#rules h1 {
  color: rgba(236,236,236,1);
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 6px rgba(19,19,19,0.8);
}
#rules list { font-size: 10pt; }
#rules img.up,#rules img.down {
  cursor: pointer;
  position: absolute;
  opacity: 0.4;
  right: 2px;
}
#rules img.up { bottom: 26px; }
#rules img.down { bottom: 5px; }
#rules img.up:hover,#rules img.down:hover { opacity: 0.6; }
/* vim: ts=2 sw=2
 */
