/* General elements
 */
* { -webkit-text-size-adjust: none; }
a { text-decoration: none; }
body {
  color: rgba(200,200,200,1);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
/* Background canvas
 */
#bg {
  background: #696969;
  background: -moz-radial-gradient(center, ellipse cover,  #696969 0%, #434343 80%);
  background: -webkit-gradient(radial, center center, 0px, center center, 60%, color-stop(0%,#696969), color-stop(100%,#434343));
  background: -webkit-radial-gradient(center, ellipse cover,  #696969 0%,#434343 60%);
  background: -o-radial-gradient(center, ellipse cover,  #696969 0%,#434343 60%);
  background: -ms-radial-gradient(center, ellipse cover,  #696969 0%,#434343 60%);
  background: radial-gradient(ellipse at center,  #696969 0%,#434343 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#434343',GradientType=1 );
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}
/* Statusbar
 */
#info {
  bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  right: 15px;
}
#version {
  bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  left: 15px;
  position: absolute;
}
#version a { color: rgba(200,200,200,1); }
#version a:hover { color: rgba(160,160,160,1); text-decoration: underline; }
/* Logo
 */
#logo {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}
#logo img {
  margin: 0 auto;
  width: 600px;
}
/* Circles (Toolbar)
 */
#toolbar {
  margin: 0 auto;
  position: relative;
  width: 700px;
  top: -120px;
}
.circle {
  border-radius: 999px;
  font-family: "Electrolize", sans-serif;
  font-size: 20px;
  height: 100px;
  line-height: 100px;
  margin: 50px 20px;
  overflow: hidden;
  padding: 30px;
  position: absolute;
  top: 0;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  -webkit-transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
  -moz-transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
  -ms-transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
  -o-transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
  transition: width 100ms ease, height 100ms ease, left 100ms ease, top 100ms ease;
}
.circle:hover {
  border: 3px solid rgba(41,41,41,0.9);
  height:200px;
  line-height: 30px;
  top: 50px;
  width:200px;
  z-index: 100;
}
.circle:hover:before {
  height: 50px;
  left: 50%;
  margin-left: -25px;
  opacity: 0.35;
  position:absolute;
  top: 20px;
  width: 50px;
  z-index:-1;
}
.circle a {
  color: rgba(216,216,216,1);
  font-size: 12pt;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
.circle a:hover { text-shadow: 0 0 6px rgba(228,228,228,0.95); }
.circle img {
  display: block;
  margin: auto;
  padding: 50px 0;
}
.circle span {
  color: rgba(236,236,236,1);
  font-weight: bold;
  text-shadow: 0 0 6px rgba(19,19,19,0.8);
}
.cyan {
  color: rgba(0,170,170,1) !important;
  font-size: 14pt;
  font-weight: normal;
  line-height: 14pt;
}
.minecraft { left: 0px; }
.minecraft:hover { left: -50px; }
.minecraft.circle:hover:before { content: url('/img/minecraft2.png'); }
.games { left: 250px; }
.games:hover { left: 200px; }
.games.circle:hover:before { content: url('/img/games.png'); }
.status { left: 500px; }
.status:hover { left: 450px; }
.status.circle:hover:before { content: url('/img/status.png'); }
/* Online Players
 */
#players {
  bottom: 2px;
  font-size: 10pt;
  left: 25%;
  position: absolute;
  right: 25%;
  text-align: center;
  width: 50%;
}
#players img { cursor: pointer }
/* Mods
 */
#mods {
  background-color: rgba(9,12,25,1);
  border: 8px solid rgba(34,41,70,0.8);
  bottom: 20%;
  color: rgba(140,139,137,1);
  display: none;
  height: 60%;
  margin: auto;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  top: 20%;
  width: 30%;
  box-shadow: 0px 0px 15px rgba(19,19,19,0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#mods a {
  color: rgba(58,87,215,1);
  font-weight: bold;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
#mods a:hover { text-decoration: underline; }
#mods .close {
  color: #696969;
  cursor: pointer;
  font-family: 'Electrolize', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 10px;
}
#mods em { color: rgba(128,128,128,1); }
#mods hr {
    border: none;
    height: 1px;
    background: rgba(52,52,52,1);
    background: -webkit-gradient(radial, 0 0, 0, 55% 55%, 350, from(rgba(52,52,52,1)), to(rgba(9,12,25,1)));
}
#mods p { font-size: 10pt;text-align: left; }
#mods p#m {
  height: 55%;
  overflow-y: scroll;
}
#mods p img {
  position: relative;
  top: 4px;
}
#mods h1 {
  color: rgba(236,236,236,1);
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 6px rgba(19,19,19,0.8);
}
#mods span { color: rgba(255,170,62,1); }
#mods span.group { color: rgba(128,128,128,1);font-style: italic; }
/* vim: ts=2 sw=2
 */
