AuthName "Restricted Area"
AuthType Basic
AuthUserFile /var/www/.htpasswd
require valid-user


#
# Apaxy by @adamwhitcroft
#
# For a full breakdown of the mod_autoindex module:
# http://apache.org/docs/2.2/mod/mod_autoindex.html
#

	# ENABLE INDEXING
	Options +Indexes

	# INDEX OPTIONS
	IndexOptions +Charset=UTF-8 +FancyIndexing +IgnoreCase +FoldersFirst +XHTML +HTMLTable +SuppressRules +SuppressDescription +NameWidth=*

	# HIDE /theme DIRECTORY
	IndexIgnore .htaccess /theme

#
# GENERAL ICONS (BLANK, DIRECTORY, PARENT DIRECTORY)
#

#
# Replace Share with your directory URL eg:
# If your directory is http://mywebsite.com/share/
# you would change to:
#
# AddIcon /share/Share/theme/icons/blank.png ^^BLANKICON^^
#

	AddIcon /Share/theme/icons/blank.png ^^BLANKICON^^
	AddIcon /Share/theme/icons/folder.png ^^DIRECTORY^^
	AddIcon /Share/theme/icons/folder-home.png ..

#
# EXTENSION SPECIFIC ICONS
#

	AddIcon /Share/theme/icons/audio.png .aif .iff .m3u .m4a .mid .mp3 .mpa .ra .wav .wma .f4a .f4b .oga .ogg
	AddIcon /Share/theme/icons/bin.png .bin
	AddIcon /Share/theme/icons/c.png .c
	AddIcon /Share/theme/icons/calc.png .xlsx .xlsm .xltx .xltm .xlam .xlr .xls .csv
	AddIcon /Share/theme/icons/css.png .css
	AddIcon /Share/theme/icons/deb.png .deb
	AddIcon /Share/theme/icons/doc.png .doc .docx .docm .dot .dotx .dotm .log .msg .odt .pages .rtf .tex .wpd .wps
	AddIcon /Share/theme/icons/draw.png .svg
	AddIcon /Share/theme/icons/eps.png .ai .eps
	AddIcon /Share/theme/icons/gif.png .gif
	AddIcon /Share/theme/icons/html.png .html .xhtml .shtml .htm
	AddIcon /Share/theme/icons/ico.png .ico
	AddIcon /Share/theme/icons/java.png .jar
	AddIcon /Share/theme/icons/jpg.png .jpg .jpeg
	AddIcon /Share/theme/icons/js.png .js .json
	AddIcon /Share/theme/icons/markdown.png .md
	AddIcon /Share/theme/icons/package.png .pkg .dmg
	AddIcon /Share/theme/icons/pdf.png .pdf
	AddIcon /Share/theme/icons/php.png .php .phtml
	AddIcon /Share/theme/icons/png.png .png
	AddIcon /Share/theme/icons/ps.png .ps
	AddIcon /Share/theme/icons/psd.png .psd
	AddIcon /Share/theme/icons/rar.png .rar
	AddIcon /Share/theme/icons/rb.png .rb
	AddIcon /Share/theme/icons/rpm.png .rpm
	AddIcon /Share/theme/icons/rss.png .rss
	AddIcon /Share/theme/icons/sql.png .sql
	AddIcon /Share/theme/icons/tiff.png .tiff
	AddIcon /Share/theme/icons/text.png .txt .nfo
	AddIcon /Share/theme/icons/video.png .asf .asx .avi .flv .mkv .mov .mp4 .mpg .rm .srt .swf .vob .wmv .m4v .f4v .f4p .ogv
	AddIcon /Share/theme/icons/xml.png .xml
	AddIcon /Share/theme/icons/zip.png .zip
	DefaultIcon /Share/theme/icons/default.png

#
# THEME FILES
#

	HeaderName /Share/theme/header.html
	ReadmeName /Share/theme/footer.html
	IndexStyleSheet "/Share/theme/style.css"
